.contact {
  height: 100vh;
}

.contactInfo {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
}

.contactInfo a:hover {
  color: #000000;
}

.info {
  margin-left: 25px;
}

.avatar img {
  text-align: center;
  width: 400px;
}
h4 {
  margin: 0;
  font-size: 30px;
}
p {
  
  font-size: 18px;
}
