.slider {
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.button {
  position: absolute;
  top: 70%;
  left: 9%;
  z-index: 3;
}

.button button {
  background-color: black;
  width: 170px;
  border-radius: 8px;
}
